@model int

<div class="online-players-container">
    <div class="online-players-card">
        <div class="online-players-icon">
            <i class="fas fa-users"></i>
        </div>
        <div class="online-players-info">
            <div class="online-players-count">@Model</div>
        </div>
    </div>
</div>